{% extends 'Client/report_base.html' %}
{% load custom_filters %}
{% block title %}Model Inclusivity{% endblock %}
{% block content %}
<div class="container mt-5">
    <!-- Page Heading -->
    <div class="text-center mb-4">
        <h1 class="display-4 font-weight-bold">Model Inclusivity</h1>
    </div>

    <div class="alert alert-info" role="alert">
        <b><h4>Description:</h4></b>
        These metrics are based on the Demographic Parity concept which
        suggests that the tendency of the model to reject a candidate <i>should be equal</i>
        across demographic groupings like Gender and Location.
    </div>
    
    <div class="card shadow-lg mb-5">
        <div class="card-body">
            <div class="graph-container text-center">
                <img src="/{{ graph }}" alt="Specificity Trend Graph" class="img-fluid rounded mx-auto d-block">
            </div>
        </div>
    </div>

    <div class="alert alert-info" role="alert">
        <b><h4>Interpretation:</h4></b>
        Ideally, Demographic Parity should be the same for men and women i.e.
        both genders should have an equal probability of getting rejected by the
        Authentication Algorithm. 
        <br><br>
        Variability across between men and women would suggest that, all other
        factors remaining the same, the model is rejecting one gender more than
        than the other.
        <br><br>
        Quantifying Demographic Parity, will also help leaders' quantify the extent
        of "discrmination" built into the algorithm.
        <br><br>
        A significant divergence in the Demographic Parity score indicates the
        Gender with the highest DP value is being
        discriminated against by the Algorithm, hence the AI Service provider
        needs to >> <br>
        1. Re-evaluate the impact of these parameters on the model (ideally there
        should not be any). <br>
        2. Check for unbalanced data corresponding to these features in the
        training data.
    </div>

    <div class="alert alert-success" role="alert">
        Among Men and Women, the higher rejection ratio was experienced by <strong>{{higher_dp_gender}}</strong> which was <strong>{{gender_dp_value}}%</strong>. <br>
        Among all locations, the higher rejection ratio was experienced by <strong>{{higher_dp_location}}</strong> which was <strong>{{location_dp_value}}%</strong>. <br>
        Week on week, there has been an actual <strong>{% if dp_diff > 0 %}increase{% else %}decrease{% endif %}</strong> of <strong>{{dp_diff|abs_filter}}%</strong> in gender Demographic Disparity.
    </div>

</div>
{% endblock %}